

.progress{
  background-color: black !important;
  border: 1px solid white;
}


body{
  background: linear-gradient( navy, #203a43) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#container,
#root,
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btnPositioning{
  display:flex;
  gap: 5px;
  flex-wrap: wrap;
}

.btnPositioning .btn-child{
  flex:1 1 auto;
}

div.no-padding-no-margin{
  padding:0;
  margin:0;
}

div.tips-margin-bottom-offset{
  margin-bottom:15px;
}
.password-form{
  margin-bottom: 15px;
}

.form-check{
 margin-top: 10px;
 margin-bottom: 10px;
 overflow-wrap: break-word;
}

div#container{
  margin-top: 5px;
}

.submitBtncontainer{
  display: flex;
}

.btn-generate-password{
  flex-grow: 1;
}

.navbar-toggler{
  margin-right: 10px;
}

div.navbar-nav a.nav-link{
  color:#0d6efd;
}

div.navbar-nav a.nav-link:hover{
  color:#0d6efd;
  text-decoration: underline;
}

span.navbar-brand {
  color:#0d6efd;
}

span.navbar-brand:hover{
  color:#0d6efd;
}

a.left-spacing.nav-link{
  margin-left: 10px;
}

button.navbar-toggler{
  background-color: #0d6efd;
}

.lock-image {
  transform-origin: center;
}

.lock-image:hover {
  animation: shake 0.4s infinite;
}



