.row{
  justify-content: center;
  align-items: center;
}

.pass-weak-color {
  background-color: red;
}

.progress{
  background-color: black !important;
  border: 1px solid white;
}

body{
  background: linear-gradient( navy, #203a43) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btnPositioning{
  display:flex;
  gap: 5px;
  flex-wrap: wrap;
}

.btnPositioning .btn-child{
  flex:1 1 auto;
}


.form-check{
 margin-top: 10px;
 margin-bottom: 10px;
 overflow-wrap: break-word;
}

.container{
  display: flex;
}

.btn-generate-password{
  flex-grow: 1;
}

/* hide scrollbar on larger screens / If greater than or equal to */
@media only screen and (min-width: 769px) {
  body {
    overflow: hidden;
  }
}

/* show scrollbar on smaller screens / If less than or equal to */
@media only screen and (max-width: 768px), screen and (max-height:768px) {
  body {
    overflow: visible;
  }
}

